.add-listing-page-container {
    display: flex;
    flex-direction: column;
    width: 790px;
    margin: auto;
    gap: 40px;
    padding-bottom: 70px;
}

.add-listing-form {
    display: grid;
    gap: 60px;
}

.add-listing-form-container p {
    color: #1A1A1F;
    font-weight: 500;
    font-size: 16px;
}

.location-input-container, .apartment-details-input-container {
    display: grid;
    grid-template-columns: auto auto;
}

.location-input-container, .apartment-details-input-container, .chechkbox-container {
    gap: 20px;
}

.description-textarea {
    height: 135px;
    border: 1px solid #808A93;
    border-radius: 10px;
    padding: 10px;
}

.chechkbox-container {
    gap: 5rem !important; 
}
  
.custom-checkbox {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
    display: flex;
}
  
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transform: translate(-27px, -2px);
    height: 18px;
    width: 18px;
    margin-top: 0px;
    z-index: 999;
}
  
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: white;
    border: 1px solid #021526;
    border-radius: 50%;
}
  
.custom-checkbox input:checked ~ .checkmark {
    background-color: #fff;
}
  
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
.custom-checkbox .checkmark:after {
    border-radius: 50%;
    background: #021526;
    top: 5px;
    left: 4.8px;
    width: 6px;
    height: 6px;
}

.btn-container {
    display: flex;
    justify-content: end;
    bottom: 0;
    position: relative;
    gap: 15px;
}

.select-type-dropdown-btn {
    width: 100%;
    height: 42px;
    /* border-radius: 6px 6px 0px 0px; */
    border-radius: 6px;
    border: 1px solid #808A93;
    padding: 10px;
    justify-content: space-between;
    text-align: start;
    display: flex;
    align-items: center;
}

.dropdown .btn.show {
    border-radius: 6px 6px 0px 0px;
}
.select-type-dropdown-menu {
    height: 165px;
    width: 100%;
    padding: 0px;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #808A93;
    overflow: auto;
    transform: translate3d(0px, 41px, 0px) !important;
}

.select-type-dropdown-menu li, .add-agent-btn {
    padding: 10px;
    border-bottom: 1px solid #808A93;
    height: 42px;
    color: #021526;
    font-weight: 400;
    font-size: 14px;
}

.select-type-dropdown-menu li:last-child {
    border-bottom: none;
}

.add-agent-btn {
    text-align: start;
    gap: 8px;
    display: flex;
    align-items: center;
}